*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
    margin: 0 auto;
    font-family: Vivo Sans, monospace;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-color: #FFF1E6;
}

@font-face {
    font-family: 'Vivo Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Vivo Sans'), url('vivoSansGlobal-Light.ttf') format('truetype');
}

section {
    max-width: 1200px;
    margin: 50px;
}

.header {
    width: 100%;
    background-image: linear-gradient(to right, #FF7700, #FFA85C);
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 30px;
}

.nav_menu_link {
    text-decoration: none;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    transition: color 0.3s;
}

.nav_menu_link:hover {
    color: black;
}

.card_recipe,
.about {
    box-shadow: 8px 8px 5px rgba(177, 176, 176, 0.3);
    background-color: white;
    border-radius: 10px;
}

h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.container_recipe {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 10px;
}

.card_recipe {
    overflow: hidden;
    text-align: left;
}

h4 {
    color: #FF7700;
    padding: 10px 0 0 20px;
}

.card_recipe p {
    padding: 0 0 20px 20px;
    line-height: 1.8;
}

.img_recipe {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.about {
    display: flex;
    text-align: start;
}

.img_about {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.about_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about_info p {
    margin-bottom: 10px;
}

.about_info h3 {
    color: #FF7700;
    font-size: 25px;
}

.about_info p, h3 {
    margin-left: 15px;
}