*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
    margin: 0 auto;
    font-family: Vivo Sans, monospace;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@font-face {
    font-family: 'Vivo Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Vivo Sans'), url('vivoSansGlobal-Light.ttf') format('truetype');
}

section {
    max-width: 1000px;
}

.header {
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to right, #FF7700, #FFA85C);

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_menu {
    display: flex;
    gap: 20px;
}

.nav_menu_link {
    text-decoration: none;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    transition: color 0.3s;
}

.nav_menu_link:hover {
    color: black;
}